@media (max-width: 800px) {
  // .not-in-mobile{
  //   margin: 0;
  //   padding: 0;
  //   display: none;
  // }
  .article-header, .article-footer {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
  // .col-6 p{
  //   width: 80%;
  //   padding-left: 10%;
  // }
  // .buttons-line{
  //   display: none;
  // }
}
