.slider
  .control-buttons
    .slider-nav-prev
      .prev
    .slider-nav-next
      .next
  .slider-show
    .slider-list.swipe
      .slider-item
        %img.slide-illustration.illustration{:src => "./assets/images/1.jpg", :alt => ""}/
        .footnote.rhzm-editable три пики. 2003
      .slider-item
        %img.slide-illustration.illustration{:src => "./assets/images/2.gif", :alt => ""}/
        .footnote.rhzm-editable бубновый валет №1. 2000
      .slider-item
        %img.slide-illustration.illustration{:src => "./assets/images/3.gif", :alt => ""}/
        .footnote.rhzm-editable бубновый валет №2. 2000
      .slider-item
        %img.slide-illustration.illustration{:src => "./assets/images/4.gif", :alt => ""}/
        .footnote.rhzm-editable вероятность. 1995
      .slider-item
        %img.slide-illustration.illustration{:src => "./assets/images/5.gif", :alt => ""}/
        .footnote.rhzm-editable композиция. красное&nbsp;&mdash;чёоное. 2003
      .slider-item
        %img.slide-illustration.illustration{:src => "./assets/images/6.jpg", :alt => ""}/
        .footnote.rhzm-editable красное и чёрное. триптих. левая часть. 2001
      .slider-item
        %img.slide-illustration.illustration{:src => "./assets/images/7.jpg", :alt => ""}/
        .footnote.rhzm-editable красное и чёрное. триптих. центральня часть. 2001
      .slider-item
        %img.slide-illustration.illustration{:src => "./assets/images/8.jpg", :alt => ""}/
        .footnote.rhzm-editable красное и чёрное. триптих. правая часть. 2001
      .slider-item
        %img.slide-illustration.illustration{:src => "./assets/images/9.gif", :alt => ""}/
        .footnote.rhzm-editable петух. 1919
      .slider-item
        %img.slide-illustration.illustration{:src => "./assets/images/10.gif", :alt => ""}/
        .footnote.rhzm-editable игра на тарном ящике. 1990
      .slider-item
        %img.slide-illustration.illustration{:src => "./assets/images/11.gif", :alt => ""}/
        .footnote.rhzm-editable карточный игровой петух. 1973
      .slider-item
        %img.slide-illustration.illustration{:src => "./assets/images/12.gif", :alt => ""}/
        .footnote.rhzm-editable бубновый валет. 1979
  .buttons-line
