---
title: index
---


.RHZMcontainer-fluid
  / .RHZMrow
  /   .col-7.offset-4
  /     %p.main-text.rhzm-editable Обычный текст
  /     %p.main-text.rhzm-editable.bold Текст болдом
  /     .illust-holder
  /       %img.illustration{:src => "./assets/images/00.jpg", :alt => ""}/

  / .RHZMrow.border с бордером
  .RHZMrow
    .col-7.offset-5
      %p.main-text.rhzm-editable.bold2
        Если шрифт&nbsp;&mdash; это универсальный дизайнерский инструмент, то&nbsp;леттеринг&nbsp;&mdash; скорее художественный объект одноразового применения. Поэтому он&nbsp;все чаще становится заводью иллюстраторов, а&nbsp;не&nbsp;конструкторов шрифта. Всеобщая практика показывает, что художники умеют любить буквы не&nbsp;меньше шрифтовиков. И&nbsp;эта любовь, может быть, не&nbsp;такая основательная, зато искупает недостаток педантичности своей пылкостью и&nbsp;воображением.
.special#special1
  %h2.head.rhzm-editable Марьян Банджес
.RHZMcontainer-fluid
  .RHZMrow
    .col-8.offset-2
      %p.main-text.rhzm-editable
        Главным леттеристом (леттерингистом? леттеринг-мейкером?) планеты хочется назвать Марьян Банджес (Marian Bantjes)&nbsp;&mdash; может быть, не&nbsp;за&nbsp;количество, но&nbsp;точно за&nbsp;качество ее&nbsp;работ. Она много лет совершенствует эту область, пользуясь не&nbsp;только карандашом и&nbsp;графическими редакторами, но&nbsp;целым арсеналом в&nbsp;хорошем смысле неуместных предметов. В&nbsp;выборе поверхностей Банджес тоже не&nbsp;скромничает. Рисует свои буквы и&nbsp;сахарной пудрой на&nbsp;морковном кексе, и&nbsp;пальцем на&nbsp;замерзшем стекле, и&nbsp;иголками на&nbsp;лепестках цветов, и&nbsp;паяльником по&nbsp;деревянной столешнице, в&nbsp;общем&nbsp;&mdash; you name&nbsp;it.
  .RHZMrow
    .col-6
      %img.illustration{:src => "./assets/images/bantjes/text4682.gif", :alt => "Банджес"}
      %img.illustration{:src => "./assets/images/bantjes/text4686.jpeg", :alt => "Банджес"}
      %img.illustration{:src => "./assets/images/bantjes/text4693.jpeg", :alt => "Банджес"}
      %img.illustration{:src => "./assets/images/bantjes/text4695.jpeg", :alt => "Банджес"}
    .col-2
      %img.illustration{:src => "./assets/images/bantjes/text4687.gif", :alt => "Банджес"}
      %img.illustration.indentForImage{:src => "./assets/images/bantjes/text4692.jpeg", :alt => "Банджес"}
      %img.illustration.indentForImage{:src => "./assets/images/bantjes/text4691.jpeg", :alt => "Банджес"}
      %img.illustration.indentForImage{:src => "./assets/images/bantjes/text4690.gif", :alt => "Банджес"}
    .col-4
      %img.illustration{:src => "./assets/images/bantjes/text4684.gif", :alt => "Банджес"}
      %img.illustration{:src => "./assets/images/bantjes/text4685.jpeg", :alt => "Банджес"}
      %img.illustration{:src => "./assets/images/bantjes/text4689.jpeg", :alt => "Банджес"}
      %img.illustration{:src => "./assets/images/bantjes/text4688.jpeg", :alt => "Банджес"}
  .RHZMrow
    .col-8.offset-2
      %p.main-text.rhzm-editable
        После почти десяти лет руководства собственной студией Марьян Банджес бросила зарабатывание деньги, чтобы заняться душеспасительным леттерингом. Сейчас она живет в&nbsp;уединении крошечного безымянного острова на&nbsp;западном побережье Канады. Время от&nbsp;времени приезжает на&nbsp;большую землю дать мастер-класс или поговорить со&nbsp;студентам, с&nbsp;удовольствие участвует в&nbsp;коллаборациях с&nbsp;крупными американскими и&nbsp;европейскими студиями вроде Droog. И&nbsp;состоит в&nbsp;переписке с&nbsp;главными дизайнерами планеты&nbsp;&mdash; по&nbsp;разным праздникам эти счастливчики получают от&nbsp;нее бумажные письма с&nbsp;рукотворными рисунками.
%img.illustration{:src => "./assets/images/bantjes/IMG_9421lowQuality.jpg", :alt => "Банджес"}
  .RHZMcontainer-fluid
    .RHZMrow
      .col-8.offset-2
        %p.main-text.rhzm-editabl
          Было&nbsp;бы непорядочно не&nbsp;заметить, что столь благостной профессиональной жизнью в&nbsp;этой узкой области живут единицы, а&nbsp;большинство вынуждены зарабатывать деньги &laquo;черным&raquo; дизайнерским трудом, отложив рисование букв на&nbsp;вечер выходного дня. Именно поэтому опыт Банджес вдвойне ценен. В&nbsp;2010 году вышла ее&nbsp;книга &laquo;I&nbsp;wonder&raquo; с&nbsp;собственными иллюстрациями. Кроме того, что это образец весьма талантливой литературы (все-таки автор&nbsp;&mdash; еще и&nbsp;доктор гуманитарных наук), это настоящий художественный артефакт, который невозможно выпустить из&nbsp;рук. Нет ничего удивительного, что многие ее&nbsp;работы уже разобраны крупнейшими дизайн-музеями мира. А&nbsp;недавно вышла еще одна книжка&nbsp;&mdash; &laquo;Pretty Pictures&raquo;&nbsp;&mdash; монография работ Банджес, тоже крайне рекомендуемая к&nbsp;обладанию.
    .RHZMrow
      .col-9.offset-2
        %img.illustration{:src => "./assets/images/bantjes/images3.jpg", :alt => "Банджес"}
        %img.illustration.indentForImage2{:src => "./assets/images/bantjes/images3_2.jpg", :alt => "Банджес"}
    .RHZMrow
      .col-10.offset-1
        %p.sliderText.rhzm-editabl
          Одна из&nbsp;самых интересных работ Бантжес&nbsp;&mdash; &laquo;сахарная&raquo; серия для проекта 
          %brСтефана Загмайстера Things I&nbsp;Have Learned In&nbsp;My&nbsp;Life So&nbsp;Far:
        .swiper-container#swiper1
          .swiper-wrapper
            .swiper-slide
              %img.illustration{:src => "./assets/images/bantjes/slider/text4709.jpg", :alt => "Банджес"}
            .swiper-slide
              %img.illustration{:src => "./assets/images/bantjes/slider/text4710.jpg", :alt => "Банджес"}
            .swiper-slide
              %img.illustration{:src => "./assets/images/bantjes/slider/text4711.jpg", :alt => "Банджес"}
            .swiper-slide
              %img.illustration{:src => "./assets/images/bantjes/slider/text4712.jpg", :alt => "Банджес"}
            .swiper-slide
              %img.illustration{:src => "./assets/images/bantjes/slider/text4713.jpg", :alt => "Банджес"}
            .swiper-slide
              %img.illustration{:src => "./assets/images/bantjes/slider/text4714.jpg", :alt => "Банджес"}
            .swiper-slide
              %img.illustration{:src => "./assets/images/bantjes/slider/text4715.jpg", :alt => "Банджес"}
          .swiper-button-next#swiperNext1
          .swiper-button-prev#swiperPrev1
.special#special2
  %h2.head.rhzm-editable Стефан Загмайстер
.RHZMcontainer-fluid
  .RHZMrow
    .col-8.offset-2
      %p.main-text.rhzm-editable
        Вообще Загмайстер, не&nbsp;будучи леттеринг-художником, одним проектом сделал очень многое для развития этой области. И&nbsp;показал особенный класс в&nbsp;деле приручения клиента. Дело было так: в&nbsp;2006 году Загмайстер, пользуясь своей звездной репутацией и&nbsp;отчасти видимо черной магией, уговорил нескольких заказчиков предоставить свои рекламные поверхности в&nbsp;качестве площадки для своего персонального арт-проекта (при этом логотип клиента в&nbsp;правом нижнем углу все-таки оставался). Он&nbsp;взял фразы из&nbsp;личного дневника и&nbsp;сложил из&nbsp;них леттеринги разной степени безумия в&nbsp;разных точках планеты.
  .RHZMrow.indentForImage3
    .col-6
      %img.illustration{:src => "./assets/images/zagmayster/aLotOfImages.jpg", :alt => "Загмайстер"}
    .col-6
      %img.illustration{:src => "./assets/images/zagmayster/aLotOfImages2.jpg", :alt => "Загмайстер"}
  .RHZMrow.indentForImage3
    .col-8
      %img.illustration{:src => "./assets/images/zagmayster/text4722.jpeg", :alt => "Загмайстер"}
    .col-4
      %img.illustration{:src => "./assets/images/zagmayster/aLotOfImages3.jpg", :alt => "Загмайстер"}
  .RHZMrow.indentForImage3
    .col-4
      %img.illustration{:src => "./assets/images/zagmayster/text4729.jpeg", :alt => "Загмайстер"}
    .col-4
      %img.illustration{:src => "./assets/images/zagmayster/text4730.jpeg", :alt => "Загмайстер"}
    .col-4
      %img.illustration{:src => "./assets/images/zagmayster/text4731.jpeg", :alt => "Загмайстер"}
  .RHZMrow.indentForImage3
    .col-4
      %img.illustration{:src => "./assets/images/zagmayster/text4723.jpeg", :alt => "Загмайстер"}
      %img.illustration.indentForImage3{:src => "./assets/images/zagmayster/text4725.jpeg", :alt => "Загмайстер"}
    .col-8
      %img.illustration{:src => "./assets/images/zagmayster/text4727.jpeg", :alt => "Загмайстер"}
.special#special3
  .RHZMrow
    .col-8.offset-2
      %img.illustration{:src => "./assets/images/zagmayster/text4733.jpeg", :alt => "Загмайстер"}
.RHZMcontainer-fluid
  .RHZMrow
    .col-8.offset-2
      %p.main-text.rhzm-editable
        У&nbsp;каждой работы из&nbsp;этой серии&nbsp;&mdash; своя история. Например, лиссабонский билборд был изготовлен Стефаном и&nbsp;компанией вручную на&nbsp;нью-йоркской крыше. Выложенная картоном на&nbsp;газетной бумаге надписи &laquo;Жаловаться глупо. Действуй или забудь&raquo; неделю пролежала под солнцем, а&nbsp;затем рулоном была отправлена в&nbsp;Португалию.
  .RHZMrow
    .col-4
      %img.illustration{:src => "./assets/images/zagmayster/Image005.jpg", :alt => "Загмайстер"}
      %img.illustration.indentForImage3{:src => "./assets/images/zagmayster/Image006.jpg", :alt => "Загмайстер"}
    .col-8
      %img.illustration{:src => "./assets/images/zagmayster/Image008.jpg", :alt => "Загмайстер"}
  .RHZMrow
    .col-8.offset-2
      %p.main-text.rhzm-editable
        &laquo;Билборд повесили на&nbsp;солнечной стороне улицы. В&nbsp;первый день надпись можно было легко прочесть, через три дня она начала блекнуть, а&nbsp;через неделю в&nbsp;Лиссабоне уже никто ни&nbsp;о&nbsp;чем не&nbsp;жаловался&raquo;&nbsp;&mdash; рассказывает Загмайстер.
  .RHZMrow
    .col-10.offset-1
      %img.illustration{:src => "./assets/images/zagmayster/Image009.jpg", :alt => "Загмайстер"}
  .RHZMrow
    .col-6.offset-2
      %p.sliderText.rhzm-editabl
        А&nbsp;вот леттеринг под микроскопом&nbsp;&mdash; &laquo;Начать заниматься благотворительностью удивительно легко&raquo;:
  .RHZMrow
    .col-8.offset-2
      .swiper-container#swiper2
        .swiper-wrapper
          .swiper-slide
            %img.illustration{:src => "./assets/images/zagmayster/slider1/text4740.gif", :alt => "Загмайстер"}
          .swiper-slide
            %img.illustration{:src => "./assets/images/zagmayster/slider1/text4741.gif", :alt => "Загмайстер"}
          .swiper-slide
            %img.illustration{:src => "./assets/images/zagmayster/slider1/text4742.gif", :alt => "Загмайстер"}
          .swiper-slide
            %img.illustration{:src => "./assets/images/zagmayster/slider1/text4743.gif", :alt => "Загмайстер"}
          .swiper-slide
            %img.illustration{:src => "./assets/images/zagmayster/slider1/text4744.gif", :alt => "Загмайстер"}
          .swiper-slide
            %img.illustration{:src => "./assets/images/zagmayster/slider1/text4745.gif", :alt => "Загмайстер"}
        .swiper-button-next#swiperNext2
        .swiper-button-prev#swiperPrev2
  .RHZMrow
    .col-6.offset-2
      %p.sliderText.rhzm-editabl
        И&nbsp;леттеринг из&nbsp;650 тысяч евроцентов на&nbsp;площади Амстердама (большую часть которых растащили местные жители)&nbsp;&mdash; &laquo;Одержимость портит мою жизнь, но&nbsp;способствует работе&raquo;:
  .RHZMrow
    .col-8.offset-2
      .swiper-container#swiper3
        .swiper-wrapper
          .swiper-slide
            %img.illustration{:src => "./assets/images/zagmayster/slider2/text4746.jpg", :alt => "Загмайстер"}
          .swiper-slide
            %img.illustration{:src => "./assets/images/zagmayster/slider2/text4747.jpg", :alt => "Загмайстер"}
          .swiper-slide
            %img.illustration{:src => "./assets/images/zagmayster/slider2/text4748.jpg", :alt => "Загмайстер"}
          .swiper-slide
            %img.illustration{:src => "./assets/images/zagmayster/slider2/text4749.jpg", :alt => "Загмайстер"}
        .swiper-button-next#swiperNext3
        .swiper-button-prev#swiperPrev3
  .RHZMrow.indentForImage
    .col-3.offset-2
      %img.illustration{:src => "./assets/images/zagmayster/text4750.jpeg", :alt => "Загмайстер"}
    .col-5
      %p.sagmeisterText.rhzm-editabl.bold2
        Остальные работы из&nbsp;этой серии можно посмотреть на&nbsp;сайте студии
      %a.sagmeisterLink{ :href => "http://www.sagmeisterwalsh.com/", :title => "Sagmeister & Walsh" }
        Sagmeister & Walsh
.special#special4
  %h2.head.rhzm-editable Арем Дуплесси
.RHZMcontainer-fluid  
  .RHZMrow
    .col-8.offset-2
      %p.main-text.rhzm-editable
        Еще один человек, последовательно занимающийся популяризацией леттеринга,&nbsp;&mdash; арт-директор газеты The New York Times Арем Дуплесси. Его взнос в&nbsp;это дело можно еженедельно наблюдать в&nbsp;рубрике On&nbsp;Language, которую с&nbsp;2005 года от&nbsp;номера к&nbsp;номеру оформляет новый иллюстратор. За&nbsp;более чем три сотни номеров NYT удалось ни&nbsp;разу не&nbsp;повториться и&nbsp;показать миру много красивого леттеринга.
  .RHZMrow
    .col-6
      %img.illustration{:src => "./assets/images/duplesi/Image012.jpg", :alt => "Дуплесси"}
    .col-6
      %img.illustration{:src => "./assets/images/duplesi/Image013.jpg", :alt => "Дуплесси"}
.special#special5
  %h2.head.rhzm-editable Мартина Флор
.RHZMcontainer-fluid  
  .RHZMrow.indentForImage
    .col-4
      %img.illustration{:src => "./assets/images/flor/text4763.jpeg", :alt => "Мартина Флор"}
    .col-4
      %img.illustration{:src => "./assets/images/flor/text4764.jpeg", :alt => "Мартина Флор"}
    .col-4
      %img.illustration{:src => "./assets/images/flor/text4768.jpeg", :alt => "Мартина Флор"}
  .RHZMrow.indentForImage3
    .col-5.offset-1
      %img.illustration{:src => "./assets/images/flor/text4765.jpeg", :alt => "Мартина Флор"}
    .col-5
      %img.illustration{:src => "./assets/images/flor/text4766.jpeg", :alt => "Мартина Флор"}
.special#special6
  %h2.head.rhzm-editable Джессика Хиш
.RHZMcontainer-fluid  
  .RHZMrow.indentForImage
    .col-6
      %img.illustration{:src => "./assets/images/hish/text4769.jpg", :alt => "Джессика Хиш"}
      %img.illustration.indentForImage3{:src => "./assets/images/hish/text4771.jpg", :alt => "Джессика Хиш"}
    .col-6
      %img.illustration{:src => "./assets/images/hish/text4770.jpg", :alt => "Джессика Хиш"}
      %img.illustration.indentForImage3{:src => "./assets/images/hish/text4772.jpg", :alt => "Джессика Хиш"}
      %img.illustration.indentForImage3{:src => "./assets/images/hish/04_2.jpg", :alt => "Джессика Хиш"}
.special#special7
  %h2.head.rhzm-editable Дан Кассаро
.RHZMcontainer-fluid  
  .RHZMrow.indentForImage
    .col-4
      %img.illustration{:src => "./assets/images/kassaro/text4774.jpg", :alt => "Дан Кассаро"}
      %img.illustration.indentForImage2{:src => "./assets/images/kassaro/text4776.jpg", :alt => "Дан Кассаро"}
    .col-4
      %img.illustration{:src => "./assets/images/kassaro/text4773.jpg", :alt => "Дан Кассаро"}
      %img.illustration.indentForImage3{:src => "./assets/images/kassaro/text4780.jpg", :alt => "Дан Кассаро"}
    .col-4
      %img.illustration{:src => "./assets/images/kassaro/text4777.jpg", :alt => "Дан Кассаро"}
      %img.illustration.indentForImage2{:src => "./assets/images/kassaro/text4779.jpg", :alt => "Дан Кассаро"}
  .RHZMrow
    .col-10.offset-1
      %img.illustration{:src => "./assets/images/kassaro/text4778.jpg", :alt => "Дан Кассаро"}
.special#special8
  %h2.head.rhzm-editable Дана Танамачи
.RHZMcontainer-fluid  
  .RHZMrow.indentForImage
    .col-4
      %img.illustration{:src => "./assets/images/tanamachi/text4784.jpg", :alt => "Дана Танамачи"}
    .col-4
      %img.illustration{:src => "./assets/images/tanamachi/text4783.jpg", :alt => "Дана Танамачи"}
    .col-4
      %img.illustration{:src => "./assets/images/tanamachi/text4785_2.jpg", :alt => "Дана Танамачи"} 
  .RHZMrow.indentForImage
    .col-7.offset-2
      %img.illustration{:src => "./assets/images/tanamachi/text4781.jpg", :alt => "Дана Танамачи"}
.special#special9
  %h2.head.rhzm-editable Сэм Бевингтон
.RHZMcontainer-fluid  
  .RHZMrow.indentForImage
    .col-6
      %img.illustration{:src => "./assets/images/bevington/text4786.jpg", :alt => "Сэм Бевингтон"}
    .col-4
      %img.illustration{:src => "./assets/images/bevington/text4789.jpg", :alt => "Сэм Бевингтон"}
      %img.illustration.indentForImage3{:src => "./assets/images/bevington/text4788.jpg", :alt => "Сэм Бевингтон"}
    .col-2
      %img.illustration{:src => "./assets/images/bevington/text4787.jpg", :alt => "Сэм Бевингтон"}
.special#special10
  %h2.head.rhzm-editable Lettering vs Calligraphy
.RHZMcontainer-fluid  
  .RHZMrow.indentForImage
    .col-4
      %img.illustration{:src => "./assets/images/LetteringCalligraphy/text4793.jpg", :alt => "Lettering vs Calligraphy"}
    .col-4
      %img.illustration{:src => "./assets/images/LetteringCalligraphy/text4792.jpg", :alt => "Lettering vs Calligraphy"}
    .col-4
      %img.illustration{:src => "./assets/images/LetteringCalligraphy/text4791.jpg", :alt => "Lettering vs Calligraphy"}
    .col-8
      %img.illustration.indentForImage{:src => "./assets/images/LetteringCalligraphy/text4790.jpg", :alt => "Lettering vs Calligraphy"}
.special#special11
  %h2.head.rhzm-editable Bang!Bang! Studio
.RHZMcontainer-fluid  
  .RHZMrow
    .col-8.offset-2
      %p.main-text.rhzm-editable
        И&nbsp;все-таки нигде не&nbsp;водится столько леттеринга, как в&nbsp;рекламе. Один из&nbsp;прекрасных российских кейсов&nbsp;&mdash; работа, совместно нарисованная иллюстратором Евгением Тонконогим (Bang!Bang! Studio) и&nbsp;каллиграфами Олегом Мацуевым и&nbsp;Катериной Кочкиной по&nbsp;заказу Leo Burnett Moscow:
      .swiper-container#swiper4
        .swiper-wrapper
          .swiper-slide
            %img.illustration{:src => "./assets/images/bangBang/slider/text4753.jpg", :alt => "Bang!Bang! Studio"}
          .swiper-slide
            %img.illustration{:src => "./assets/images/bangBang/slider/text4754.jpg", :alt => "Bang!Bang! Studio"}
          .swiper-slide
            %img.illustration{:src => "./assets/images/bangBang/slider/text4755.jpg", :alt => "Bang!Bang! Studio"}
          .swiper-slide
            %img.illustration{:src => "./assets/images/bangBang/slider/text4756.jpg", :alt => "Bang!Bang! Studio"}
          .swiper-slide
            %img.illustration{:src => "./assets/images/bangBang/slider/text4757.jpg", :alt => "Bang!Bang! Studio"}
          .swiper-slide
            %img.illustration{:src => "./assets/images/bangBang/slider/text4758.jpg", :alt => "Bang!Bang! Studio"}
          .swiper-slide
            %img.illustration{:src => "./assets/images/bangBang/slider/text4759.jpg", :alt => "Bang!Bang! Studio"}
        .swiper-button-next#swiperNext4
        .swiper-button-prev#swiperPrev4
  .RHZMrow
    .col-5.offset-1
      %p.sliderText.rhzm-editabl
        Леттеринг-работы еще одного иллюстратора Bang!Bang! Игоря Мустаева:
  .RHZMrow
    .col-5.offset-1
      %img.illustration{:src => "./assets/images/bangBang/text4762.jpg", :alt => "Bang!Bang! Studio"}
      %img.illustration.indentForImage3{:src => "./assets/images/bangBang/text4760Main.jpg", :alt => "Bang!Bang! Studio"}
    .col-5
      %img.illustration{:src => "./assets/images/bangBang/text4761.jpg", :alt => "Bang!Bang! Studio"}
      