---
title: index
---


.RHZMcontainer-fluid
  / .RHZMrow
  /   .col-7.offset-4
  /     %p.main-text.rhzm-editable Обычный текст
  /     %p.main-text.rhzm-editable.bold Текст болдом
  /     .illust-holder
  /       %img.illustration{:src => "./assets/images/00.jpg", :alt => ""}/

  / .RHZMrow.border с бордером
.RHZMcontainer-fluid
  .RHZMrow
    .col-8.offset-1
      %p.main-text.rhzm-editable
        В&nbsp;апреле 2014 года американская певица Скай Феррейра выпустила клип &rsquo;I Blame myself&rsquo; по&nbsp;следам своего дебютного альбома. Видео, на&nbsp;первый взгляд, ничем не&nbsp;примечательное&nbsp;&mdash; белая женщина танцует в&nbsp;гетто Лос-Анджелеса и&nbsp;разъезжает на&nbsp;машине с&nbsp;водителем афроамериканского происхождения (и&nbsp;по&nbsp;совместительству своим танцором). Ближе к&nbsp;концу Скай меняет декорации на&nbsp;полицейский участок&nbsp;&mdash; с&nbsp;привязкой не&nbsp;сюжетной, а&nbsp;документальной (певицу арестовывали за&nbsp;хранение наркотиков). Но&nbsp;скоро возвращается на&nbsp;круги своя, к&nbsp;черным танцорам и&nbsp;обшарпанной стене, служащей фоном для танцевальной площадки.
      %p.main-text.rhzm-editable
        Тем не&nbsp;менее, в&nbsp;память врезается динамичный ритм композиции, контрастирующий с&nbsp;вербальной аранжировкой. В&nbsp;ней певица признается фанатам, что на&nbsp;самом деле обвиняет себя в&nbsp;собственной репутации. Слова замыкаются на&nbsp;попытке прокричать различия между образом певицы в&nbsp;медиа и&nbsp;ее&nbsp;самовосприятием, не&nbsp;сильно ушедшим вперед с&nbsp;10-летнего возраста (тогда Скай на&nbsp;2&nbsp;года отказалась говорить, потому что сказать было нечего).
      .specDiv
        %img.scpecImage{:src => "./assets/images/gif1.gif", :alt => "Скай-Феррейра"}
        %img.illustration.imagDjamvo{:src => "./assets/images/giphy.gif", :alt => "Скай-Феррейра"}
  .RHZMrow
    .col-7.offset-3
      %p.main-text.rhzm-editable
        Все заявленное носит отчетливо исповедальный жанр и&nbsp;в&nbsp;поп-музыке обычно сопровождается опущенными ресницами и&nbsp;будто нечаянным взглядом снизу. Скай за&nbsp;редкими паузами все видео смотрит прямо в&nbsp;камеру&nbsp;&mdash; и&nbsp;смотрит то&nbsp;пристально, то&nbsp;прищуриваясь, то&nbsp;откидывая голову назад, но&nbsp;потом передумывая&nbsp;&mdash; словом, кривляясь. Мимику дополняют телесные движения с&nbsp;мотивами &laquo;перед зеркалом&raquo;.
  .RHZMrow
    .col-5.offset-3
      %img.illustration{:src => "./assets/images/Gif_Avril_Lavigne_Nobodys-Home_2.gif", :alt => "Скай-Феррейра"}
    .col-2
      %img.illustration{:src => "./assets/images/r4_1.jpg", :alt => "Скай-Феррейра"}
      %img.illustration.indent1{:src => "./assets/images/r4_2.jpg", :alt => "Скай-Феррейра"}
      %img.illustration.indent1{:src => "./assets/images/r4_3.jpg", :alt => "Скай-Феррейра"}
  .RHZMrow
    .col-7.offset-3
      %p.main-text.rhzm-editable
        Самоирония в&nbsp;2013-2014 стала совсем не&nbsp;чужда музыкальному мейнстриму&nbsp;&mdash; например, благодаря Майли Сайрус (к&nbsp;слову, протеже Скай) с &rsquo;We can&rsquo;t stop&rsquo;, &rsquo;Anaconda&rsquo; Ники Минаж и &rsquo;Shake it&nbsp;off&rsquo; Тэйлор Свифт. Эти видеоклипы построены вокруг темы тверка. Задницами на&nbsp;MTV никого не&nbsp;удивить с&nbsp;момента появления этого телеканала, но&nbsp;именно здесь сексуальность отходит на&nbsp;второй план, а&nbsp;на&nbsp;первом&nbsp;&mdash; ничем не&nbsp;прикрытое кривлянье и&nbsp;смех над собой. Происходящее напоминает карнавал&nbsp;&mdash; он&nbsp;поглощает любые попытки создать &laquo;историю&raquo; в&nbsp;клипах (если не&nbsp;считать историей не&nbsp;прекращающуюся вечеринку и&nbsp;спортивный зал в&nbsp;джунглях). Видеоклипы, что самое главное, и&nbsp;не&nbsp;являются пародиями&nbsp;&mdash; ведь девушки поют, в&nbsp;первую и&nbsp;последнюю очередь, о&nbsp;той среде, чьей сердцевиной являются.
      %p.main-text.rhzm-editable
        Границы такого освобождения пролегают не&nbsp;внутри одного видео-пространства, но&nbsp;на&nbsp;их&nbsp;пересечении. Нашумевший &rsquo;Wrecking Ball&rsquo; Майли Сайрус снимает вопросы о&nbsp;телесной наготе, но&nbsp;не&nbsp;уничтожает культурный промежуток между частным и&nbsp;публичным: певица со&nbsp;слезами на&nbsp;глазах поет о&nbsp;любовных злоключениях (раскрыть такую правду она может только в&nbsp;состоянии аффекта), а&nbsp;в&nbsp;известных сценах с&nbsp;бетонными стенами и&nbsp;шаром на&nbsp;цепи украдкой дает фанатам шанс посмотреть на&nbsp;свои страдания. Любопытно, что в&nbsp;лирической &rsquo;Adore You&rsquo; прямой взгляд Майли в&nbsp;камеру обусловлен тем, что у&nbsp;нее в&nbsp;руках&nbsp;&mdash; собственное устройство для видеозаписи. То&nbsp;есть, все показанное предназначается (придуманному) бойфренду, а&nbsp;нам перепало по&nbsp;секрету или непредвиденной ошибке.
  .RHZMrow
    .col-12
      %img.illustration{:src => "./assets/images/r4_4.jpg", :alt => "Скай-Феррейра"}
  .RHZMrow
    .col-7.offset-3
      %p.main-text.rhzm-editable
        Скай Феррейра соединяет в&nbsp;одной композиции игровое поведение и&nbsp;обличающий саму себя текст. Никакого защитного слоя в&nbsp;виде воображаемых &laquo;любовей&raquo; здесь нет. Певица обращается напрямую к&nbsp;зрителю (который, как поется, судит о&nbsp;ней по&nbsp;одной обложке), смотрит на&nbsp;зрителя и&nbsp;&mdash; танцует для него. Равновесие, нарушенное отрицанием личного пространства, восстанавливается на&nbsp;уровне телесных движений. Танец ближе к&nbsp;концу клипа стилизован под хореографию Майкла Джексона (бывшего другом семьи Скай и&nbsp;клиентом ее&nbsp;бабушки-парикмахера). Танец превращает происходящее в&nbsp;ритуал, омертвляет содержание слов под стать звучанию синти-попа. Эти движения закольцовывают ход событий, лишают клип вклинившегося сюжета. Профили танцоров в&nbsp;финале и&nbsp;есть те&nbsp;самые зеваки, наблюдающие за&nbsp;Скай, но&nbsp;уже не&nbsp;с&nbsp;обожанием, а&nbsp;скорее&nbsp;&mdash; серьезностью.
      %img.illustration{:src => "./assets/images/r4_5.jpg", :alt => "Скай-Феррейра"}
      %p.main-text.rhzm-editable
        Если тверк Майли Сайрус, Ники Минаж и&nbsp;Тэйлор Свифт&nbsp;&mdash; это карнавал, который закончится с&nbsp;последней секундой видеоклипа, то&nbsp;Скай Феррейра идет дальше, соединяет театрализованное кривлянье с&nbsp;честностью, скрепляя этот союз взглядом, который, в&nbsp;итоге, бьет в&nbsp;точку радикальнее, чем все оголенные ягодицы перечисленных поп-звезд.
      <iframe class="frame" src="https://www.youtube.com/embed/rEamE0MYPkg?rel=0" frameborder="0" allowfullscreen></iframe>
        
        