---
title: index
---


.RHZMcontainer-fluid
  / .RHZMrow
  /   .col-7.offset-4
  /     %p.main-text.rhzm-editable Обычный текст
  /     %p.main-text.rhzm-editable.bold Текст болдом
  /     .illust-holder
  /       %img.illustration{:src => "./assets/images/00.jpg", :alt => ""}/

  / .RHZMrow.border с бордером
  .RHZMrow
    .col-8.offset-2
      %p.main-text.rhzm-editable
        Современные кинопостеры часто ругают за&nbsp;примитивность и&nbsp;серийную похожесть. Обычно им&nbsp;противопоставляют дизайнерских любимцев из&nbsp;сборников про крутые плакаты&nbsp;&mdash; что-нибудь из&nbsp;конструктивизма, польское, голливудская классика, Хичкок. Как навскидку отличить классный плакат от&nbsp;проходного? Мысленно представить его на&nbsp;стене у&nbsp;дизайнера, в&nbsp;спальне. Если смотрится, классный, значит. А&nbsp;если картина напоминает фойе кинотеатра с&nbsp;картонными фигурами Джека Воробья&nbsp;&mdash; фу, отстой.
      %p.main-text.rhzm-editable
        Но&nbsp;при всем уважении к&nbsp;истории, кажется, что киноплакат как самостоятельное произведение искусства кино не&nbsp;нужен. Может, раньше был нужен. А&nbsp;может, это была просто случайная эра веселухи в&nbsp;эволюционном процессе: кто ходил в&nbsp;палеонтологический музей, тому знакома радость созерцания невероятных черепов давно умерших тварей. Традиция использовать картинки, плюс полиграфические и&nbsp;дизайнерские ограничения, плюс мощная графическая школа в&nbsp;таком-то месте, плюс общая творческая бодрость и&nbsp;интерес к&nbsp;кино, плюс визуальная мода, плюс какая-то другая система дистрибуции и&nbsp;вообще механика съемки, финансирования и&nbsp;получения прибыли, плюс иная конкурентная среда вокруг человека, ищущего развлечений на&nbsp;вечер&nbsp;&mdash; можно поразмыслить и&nbsp;из&nbsp;пальца высосать десятки параметров, подключение и&nbsp;отключение которых повлияло на&nbsp;конечный вид киноплаката. Наверняка попадешь этим пальцем в&nbsp;небо.
  .RHZMrow
    .col-8.offset-2
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider1/text2904-min.jpg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider1/text2906-min.jpg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider1/text2907-min.jpg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider1/text2914-min.jpg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider1/text2915-min.jpg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider1/text2930-min.jpg", :alt => ""}
        .swiper-button-next
        .swiper-button-prev
      %p.main-text.rhzm-editable
        Если попытаться поштучно разбирать поводы для инстинктивного недовольства нынешними постерами, то&nbsp;быстро оказывается, что придраться особенно не&nbsp;к&nbsp;чему (кроме букв). Зачем вообще нужен киноплакат? На&nbsp;это принято единодушно отвечать&nbsp;&mdash; &laquo;продать&raquo; прохожему и&nbsp;проезжему кино, завлечь его в&nbsp;кинотеатр. Так, например, ответил нам и&nbsp;режиссер Гор Киракосян, которому мы&nbsp;задали вопросы про кей-арт (графический гарнир к&nbsp;кинофильму). Но&nbsp;на&nbsp;вопрос, знает&nbsp;ли он&nbsp;постеры, которые сделали фильм кассовым, ответил, что фильмы продают не&nbsp;плакаты, а&nbsp;трейлеры.
      %p.main-text.rhzm-editable  
        Верно, что расскажет о&nbsp;кино лучше самого кино? Когда трейлеров в&nbsp;интернете не&nbsp;водилось, была реклама в&nbsp;кинотеатрах. И&nbsp;главное, на&nbsp;желании быть трейлером построен один из&nbsp;самых используемых рецептов создания киноплакатов. За&nbsp;неумением шевелиться, они изображают кино в&nbsp;статике&nbsp;&mdash; в&nbsp;этой приевшейся всем колбасно-ветчинной нарезке из&nbsp;&laquo;героев в&nbsp;обстоятельствах&raquo;. За&nbsp;которую ругают современные постеры, но&nbsp;которую всю дорогу использовали, когда хотели, плакатисты, в&nbsp;том числе и&nbsp;те, чьи работы находятся в&nbsp;золотом фонде дизайнерской спальни.
      .swiper-container2
        .swiper-wrapper
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider2/text2905.jpg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider2/text2908.jpg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider2/text2909.jpg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider2/text2910.jpg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider2/text2911.jpg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider2/text2912.jpg", :alt => ""}
        .swiper-button-next2
        .swiper-button-prev2
      %p.main-text.rhzm-editable  
        Прием это просто прием. Когда вместо обычной бумаги повсюду будет висеть электронная, ну&nbsp;или голограммы, или еще что-нибудь такое изобретут, где изображение будет двигаться само по&nbsp;себе, без нужды в&nbsp;графической иллюзии движения&nbsp;&mdash; ясно&nbsp;же, что оно будет использоваться для кинорекламы.
      %p.main-text.rhzm-editable 
        Претензия вторая: условно, авторская иллюстрация против фотошопа. Дизайнеры плакатов почти перестали использовать стилизацию в&nbsp;пользу фотореализма, гиперреализма и&nbsp;максимальной близости к&nbsp;кинокартинке. Да, графика, особенно пожившая, выглядит круто. Но&nbsp;за&nbsp;что упрекать киноплакат, если одержимость реалистичностью и&nbsp;вообще гонка разрешения&nbsp;&mdash; это культурно-технологический тренд (каким когда-то был монтаж и&nbsp;игра с&nbsp;ракурсами, породившая соответствующую плакатную эстетику)? Не, ну&nbsp;правда&nbsp;&mdash; на&nbsp;айпаде ретина-дисплей. Ходим на&nbsp;кино в&nbsp;триде. Фильмы снимают на&nbsp;цифру. &laquo;Хоббита&raquo; выпустили в&nbsp;48&nbsp;фпс, и&nbsp;дальше собираются строгать, вызвав смятение и&nbsp;горе среди поклонников киношного воздуха.
      %iframe{ :allowfullscreen => "", :frameborder => "0", :width => "100%", :height => "400", :src => "https://www.youtube.com/embed/WJULoHnwoRI"}
      %p.main-text.rhzm-editable
        Киноиндустрия гонится за&nbsp;улучшением картинки. Создатели постеров просто довольствуются максимально доступной им&nbsp;реалистичностью и&nbsp;стараются быть ближе к&nbsp;настоящему и&nbsp;будущему. Могли&nbsp;бы фотошопить раньше&nbsp;&mdash; и&nbsp;раньше&nbsp;бы пользовались. Да&nbsp;и&nbsp;пользовались как могли.
      %p.main-text.rhzm-editable
        С&nbsp;другой стороны, если на&nbsp;создание и&nbsp;вылизывание этой драгоценной кинокартинки потрачено столько сил, то&nbsp;для использования другой, чужой картинки должны быть причины. Или большой/модный дизайнерский талант, или какая-то личная, а&nbsp;не&nbsp;маркетингово обоснованная смелость, или пофигизм.
      %p.main-text.rhzm-editable
        Отказ от&nbsp;самостоятельной графики можно расценивать как часть выработанного безопасного протокола по&nbsp;созданию годного, функционального постера в&nbsp;условиях отсутствия талантливого дизайнера и&nbsp;хорошего исходного материала. Кажется, что ровно так делается 90&nbsp;процентов плакатов&nbsp;&mdash; размеренно, машинально, бездумно. Но&nbsp;к&nbsp;используемым в&nbsp;ним приемам эта проблема вроде никакого отношения не&nbsp;имеет.
      %p.main-text.rhzm-editable
        Вот, к&nbsp;примеру, к&nbsp;фильму &laquo;Черный лебедь&raquo; вдобавок к&nbsp;уштампованному по&nbsp;самое не&nbsp;могу постеру&nbsp;&mdash; лицо звезды крупным планом на&nbsp;фото + название фильма&nbsp;&mdash; в&nbsp;свое время сделали целую серию плакатов с&nbsp;контрастной черно-красной графикой, визуальными метафорами, исторической стилизацией и&nbsp;красивыми шрифтами. И&nbsp;как&nbsp;бы то&nbsp;ни&nbsp;было&nbsp;&mdash; постер с&nbsp;лицом лучше. Лучше, и&nbsp;все тут, интереснее, круче. По&nbsp;пародиям&nbsp;и
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider3/text2934-min.jpeg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider3/text2935-min.jpeg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider3/text2936-min.jpeg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider3/text2937-min.jpeg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider3/text2938-min.jpeg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider3/text2939-min.jpeg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider3/text2940-min.jpeg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider3/text2941-min.jpeg", :alt => ""}
          .swiper-slide
            %img.illustration{:src => "./assets/images/slider3/text2942-min.jpeg", :alt => ""}
        .swiper-button-next
        .swiper-button-prev
      %p.main-text.rhzm-editable
        Короче, просто не&nbsp;хватает талантливых дизайнеров. И&nbsp;любви, конечно. А, финская мудрость такая: каков всадник, таков и&nbsp;олень.
  .RHZMrow 
    .page.col-8.offset-3
      .head.rhzm-editable
        Стас Акинфин
      %p.footnote.rhzm-editable.center
        дизайнер
      .divImage
        .divImageInside
          %img{:src=>"./assets/images/avatar.png", :alt => ""}
      %p.pageP.rhzm-editable
        Склонность к&nbsp;фотореализму&nbsp;&mdash; общая тенденция в&nbsp;графическом дизайне, начиная примерно с&nbsp;90-х годов прошлого века. Плакат должен понравиться в&nbsp;первую очередь потенциальному зрителю, но&nbsp;оценить его успешность объективно трудно. Только личный опыт экспертов в&nbsp;этой области. Продюсеров, режиссеров, дизайнеров.
      %p.pageP.rhzm-editable  
        Готовых рецептов успеха киноплаката, кончено&nbsp;же, не&nbsp;существует. Но&nbsp;есть ряд шаблонов, по&nbsp;которым делаются киноплакаты. Для разных жанров&nbsp;&mdash; это разные шаблоны. По&nbsp;ним зрителем считывается жанр фильма. Для голливудских фильмов это чаще всего лица главных героев в&nbsp;фото-коллаже.
      %p.pageP.rhzm-editable  
        Для независимого кино той&nbsp;же Америки&nbsp;&mdash; уже совсем другие шаблоны. Основой плаката тут может быть фотография героев (часто некрупным планом, или интересная по&nbsp;сюжету и&nbsp;композиции, или художественно минималистичная). Это может быть вообще не&nbsp;фотография героев фильма, а&nbsp;какое угодно изображение, призванное метафористически изобразить суть этого фильма, плюс игра со&nbsp;шрифтами.
      %p.pageP.rhzm-editable   
        Имеет&nbsp;ли право дизайнер и&nbsp;иллюстратор плаката на&nbsp;&laquo;собственное видение&raquo;? Вы&nbsp;о&nbsp;плакате? Имеет, если такового нет у&nbsp;создателей картины, в&nbsp;первую очередь у&nbsp;режиссера и&nbsp;сценариста. Смотреть фильм нужно обязательно.
      %p.pageP.pageChoise.footnote.rhzm-editable
        Выбор Стаса Акинфина:
      .pagePImage
        .swiper-container2
          .swiper-wrapper
            .swiper-slide
              %img.illustration{:src => "./assets/images/slider4/text2947-min.png", :alt => ""}
            .swiper-slide
              %img.illustration{:src => "./assets/images/slider4/text2948-min.png", :alt => ""}
            .swiper-slide
              %img.illustration{:src => "./assets/images/slider4/text2949-min.jpeg", :alt => ""}
          .swiper-button-next2
          .swiper-button-prev2
  .RHZMrow 
    .page.col-8.offset-3
      .head.rhzm-editable
        Михаил Блосяк
      %p.footnote.rhzm-editable.center
        иллюстратор
      .divImage
        .divImageInside
          %img{:src=>"./assets/images/avatar2.png", :alt => ""}
      %p.pageP.rhzm-editable
        Стилизованная авторская графика, на&nbsp;мой взгляд, стала приемом &laquo;независимого&raquo; и&nbsp;&laquo;фестивального&raquo; кино, хотя не&nbsp;всегда. Главное для плаката&nbsp;&mdash; считываемость жанра фильма и&nbsp;визуальное отражение его настроения. Плакат не&nbsp;обязан быть шедевром графического искусства. Он&nbsp;просто должен быть хорошо сделан в&nbsp;смысле актуальности графического языка. Дизайнер и&nbsp;иллюстратор плаката имеет право на&nbsp;&laquo;собственное видение&raquo; плаката. Картины? Нет, это не&nbsp;его задача. Есть управляющая идея фильма, плакат должен быть подчинен&nbsp;ей. Смотреть&nbsp;ли фильм? Да.
      %p.pageP.pageChoise.footnote.rhzm-editable
        Выбор Михаила Блосяка:
      .pagePImage
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              %img.illustration{:src => "./assets/images/slider5/text2950-min.jpeg", :alt => ""}
            .swiper-slide
              %img.illustration{:src => "./assets/images/slider5/text2951-min.jpeg", :alt => ""}
            .swiper-slide
              %img.illustration{:src => "./assets/images/slider5/text2952-min.jpeg", :alt => ""}
            .swiper-slide
              %img.illustration{:src => "./assets/images/slider5/text2953-min.jpeg", :alt => ""}
            .swiper-slide
              %img.illustration{:src => "./assets/images/slider5/text2954-min.jpeg", :alt => ""}
            .swiper-slide
              %img.illustration{:src => "./assets/images/slider5/text2955-min.jpeg", :alt => ""}
            .swiper-slide
              %img.illustration{:src => "./assets/images/slider5/text2956-min.jpeg", :alt => ""}
            .swiper-slide
              %img.illustration{:src => "./assets/images/slider5/text2957-min.jpeg", :alt => ""}
            .swiper-slide
              %img.illustration{:src => "./assets/images/slider5/text2958-min.jpeg", :alt => ""}
            .swiper-slide
              %img.illustration{:src => "./assets/images/slider5/text2959-min.jpeg", :alt => ""}
            .swiper-slide
              %img.illustration{:src => "./assets/images/slider5/text2960-min.jpg", :alt => ""}
            .swiper-slide
              %img.illustration{:src => "./assets/images/slider5/text2961-min.jpg", :alt => ""}
          .swiper-button-next
          .swiper-button-prev
        
        